<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <table border="1px solid black">
        {% for field in form %}
        <tr>
            <td>{{field.label_tag}}</td>
            <td>{{field}}</td>
            <td>{{field.errors}}</td>
            
            <div class  ="register_div"></div>




        </tr>
        {% endfor %}


    </table>
    <button type="submit">submit</button>


</form>



</body>
</html>